In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("../../data/data_taxi_central_based.parquet")

In [3]:
df.head()

,TRIP_ID,ORIGIN_CALL,TAXI_ID,TIMESTAMP,POLYLINE_LENGTH,LON,LAT
index,,,,,,,
398,1372637343620000571,31508.0,20000571,1372637343,32,-8.618868,41.155101
399,1372637343620000571,31508.0,20000571,1372637358,32,-8.617500,41.154912
400,1372637343620000571,31508.0,20000571,1372637373,32,-8.615079,41.154525
401,1372637343620000571,31508.0,20000571,1372637388,32,-8.613468,41.154228
402,1372637343620000571,31508.0,20000571,1372637403,32,-8.613261,41.154102

In [4]:
value_counts = df['TRIP_ID'].value_counts()

In [5]:
filtered_counts = value_counts[value_counts > 500]

In [6]:
least_frequent_but_gt_20 = filtered_counts.sort_values(ascending=True)

In [7]:
least_frequent_but_gt_20.head(5)

TRIP_ID
1398764351620000197    502
1380694967620000451    504
1387463310620000440    504
1392043644620000158    506
1383068053620000001    507
Name: count, dtype: int64